<!doctype html>
<html>

    <head>
        {% block head %}
            <title>ICON Tracker</title>
            <link rel="stylesheet" href="{{url_for('static',filename='styles/table.css')}}">
            <link rel="stylesheet" href="{{url_for('static',filename='styles/layout.css')}}">
        {% endblock %}

    <body>

        <div id="header"> 
            {% block header %}
                
                <a href="/">
                    <div id="logo"></div> 
                </a>

                <div id="provider">
                        <img src="/static/media/wifi.png"/> Network endpoint : (<a href="http://iconstatus.spl3en.com/">Status</a>)
                    <br>

                    <form method="POST" action="{{url_for('set_nid')}}">
                        <select name="networkId">
                        {% for endpoint in constants.NETWORK_ENDPOINTS %}
                            <option {% if (loop.index-1 == session.nid) %} selected="selected" {% endif %} value="{{loop.index-1}}">{{endpoint.url}}</option>
                        {% endfor %}
                        </select>
                        <input type="submit" value="Go!">
                    </form>

                    <br><img src="/static/media/github.png"/> Github source code : 
                    <br><a href="{{constants.GITHUB_REPOSITORY}}">{{constants.GITHUB_REPOSITORY}}</a>
                </div>

                <div id="title">
                    {% block title %}{% endblock %}
                </div>

            {% endblock %}

        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>        

        <div id="footer">
            {% block footer %}
                Made with ♥ by <a href="https://twitter.com/Spl3en_ICON">Spl3en</a>
            {% endblock %}
        </div>

    </body>

</html>